body {
	background-color: rgb(190, 247, 244) !important;
	margin: 40px !important;
}

h1 {
	font-family: 'Acme', sans-serif;
	color: rgb(95, 140, 139);
	text-shadow: 1px 1px 2px #1f2b2b;
	text-align: center;
	margin: 3% auto;
}
.search {
	display: flex;
	width: 250px;
	margin: 3% auto;
	font-size: .9em;
	border-radius: 10px;
	outline: none;
	padding: 7px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.title {
	color: steelblue;
	font-family: 'Itim', sans-serif;
	text-align: center;
	padding: 20px;
	display: flex;
	align-self: center;
	justify-content: center;
}
.title:hover {
	font-size: 2.2em;
	font-weight: bold;
}
.subtitle {
	font-size: 1.2em;
	text-decoration: underline;
}

.row {
	font-family: 'Itim', sans-serif;
	background-color: rgb(219, 249, 247);
	border: 4px solid rgb(125, 201, 198);
	border-radius: 10px;
	box-sizing: border-box;
	display: grid;
	justify-content: space-evenly;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

.col-sm-5 {
	background-color: rgb(227, 250, 249);
	border: 2px solid rgb(87, 201, 197);
	border-radius: 10px;
	padding: 2%;
	margin: 1.5%;
}

.col-sm-12 {
	background-color: rgb(227, 250, 249);
	border: 2px solid rgb(87, 201, 197);
	border-radius: 10px;
	padding: 2%;
	margin: 1.5%;
}

.hidden {
	display: none;
	border: none !important;
}

.appear {
	display: block;
}
