body {
	background-color: rgb(190, 247, 244) !important;
	margin: 40px !important;
}

h1 {
	font-family: 'Acme', sans-serif;
	color: rgb(95, 140, 139);
	text-shadow: 1px 1px 2px #1f2b2b;
	text-align: center;
	margin: 3% auto;
}
.search {
	display: flex;
	width: 250px;
	margin: 3% auto;
	font-size: .9em;
	border-radius: 10px;
	outline: none;
	padding: 7px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions {
	margin: 0;
	padding: 0;
	position: relative;
	/*perspective: 20px;*/
}

.suggestions li {
	/* background: white; */
	list-style: none;
	border-bottom: 1px solid #d8d8d8;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
	margin: 0 0 10px 0;
	padding: 5px;
	transition: background 0.2s;
	display: flex;
	justify-content: center;
}

/* .suggestions li:nth-child(even) {
	transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
	background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}

.suggestions li:nth-child(odd) {
	transform: perspective(100px) rotateX(-3deg) translateY(3px);
	background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
} */

span.population {
	font-size: 15px;
}

/* #mixerL {
	position: absolute;
	width: 70px;
	height: 70px;
	cursor: pointer;
} */
/* #mixerR {
	position: absolute;
	width: 70px;
	height: 70px;
	cursor: pointer;
	transform: scaleX(-1);
} */

.title {
	color: steelblue;
	font-family: 'Itim', sans-serif;
	text-align: center;
	padding: 20px;
	display: flex;
	align-self: center;
	justify-content: center;
}
.title:hover {
	font-size: 2.2em;
	font-weight: bold;
}
.subtitle {
	font-size: 1.2em;
	text-decoration: underline;
}

.row {
	font-family: 'Itim', sans-serif;
	background-color: rgb(219, 249, 247);
	border: 4px solid rgb(125, 201, 198);
	border-radius: 10px;
	box-sizing: border-box;
	display: grid;
	justify-content: space-evenly;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

.col-sm-5 {
	background-color: rgb(227, 250, 249);
	border: 2px solid rgb(87, 201, 197);
	border-radius: 10px;
	padding: 2%;
	margin: 1.5%;
}

.col-sm-12 {
	background-color: rgb(227, 250, 249);
	border: 2px solid rgb(87, 201, 197);
	border-radius: 10px;
	padding: 2%;
	margin: 1.5%;
}

.hidden {
	display: none;
	border: none !important;
}

.appear {
	display: block;
}

.hl {
	background: #ffc600;
}
